<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
            <h1><%=title%></h1>
        </div>
        
        <section id="product-list" class="products-grid">
            <% productos.forEach(prod => { %>
                <div class="card-products <%= prod.activo === 0 ? 'inactive' : '' %>">
                    <img class="producto-img" src="/uploads/<%= prod.imagen %>" alt="<%= prod.nombre %>">
                    <h3><%=prod.nombre%></h3>
                    <p>ID: #<%=prod.id%></p>
                    <p style="font-weight: bold; color: var(--primary); font-size: 1.1rem;">$<%=prod.precio%></p>
                </div>
            <% }); %>
        </section>
    </main>

<%- include("partials/footer.ejs") %>



